/* P */

p {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 20px;
}

@media (max-width: 767px) {
    p {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}


#bigger {
    font-size: 25px;
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    #bigger {
        font-size: 18px;
        margin-bottom: 0px;
    }
}


/* Body */

body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Verdana, arial;
}

@media (max-width: 767px) {
    body {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
    }
}


#main-title {
    font-size: 60px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    #main-title {
        font-size: 20px;
    }
}


#title {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 80px;
}

@media (max-width: 767px) {
    #title {
        font-size: 35px;
        margin-bottom: 30px;
    }
}


#background {
    margin-top: 50px;
    width: 1000px;
}

@media (max-width: 767px) {
    #background {
        margin-top: 10px;
        width: 275px;
    }
}


/* Button */

#back-button {
    font-size: 25px;
    background-color: darkgreen;
    border-radius: 16px;
    margin-top: 100px;
    border: none;
    color: white;
    padding: 10px 18px;
    display: inline-block;
    text-decoration: none;
    transition: 0.8s;
}

@media (max-width: 767px) {
    #back-button {
        font-size: 15px;
        margin-top: 30px;
    }
}


#back-button:hover {
    background-color: yellow;
    color: black;
    border-radius: 20px;
}

/* Conspiracy */

.conspiracy {
    margin-top: 125px;
    display: block;
}

@media (max-width: 767px) {
    .conspiracy {
        margin-top: 60px;
    }
}


.twintowers {
    width: 600px;
    height: 398px;
    background-image: url(twintowers.png);
    transition: 1.5s;
    margin-left: 25px;
}

@media (max-width: 767px) {
    .twintowers {
        margin-left: 5px;
        width: 350px;
        height: 232px;
        background-image: url(conspiracy-pictures/twintowers.png);
    }
}


.twintowers:hover {
    background-image: url(twintowers-2.png);
}

.pope {
    width: 600px;
    height: 398px;
    background-image: url(pope.png);
    transition: 1.5s;
    margin-left: 50px;
}

@media (max-width: 767px) {
    .pope {
        margin-left: 5px;
        margin-top: 40px;
        width: 350px;
        height: 232px;
        background-image: url(conspiracy-pictures/pope.png);
    }
}


.pope:hover {
    background-image: url(pope-2.png);
}

.moonlanding {
    width: 600px;
    height: 398px;
    background-image: url(moonlanding.png);
    transition: 1.5s;
    margin-left: 25px;
}

@media (max-width: 767px) {
    .moonlanding {
        margin-left: 5px;
        margin-top: -30px;
        width: 350px;
        height: 232px;
        background-image: url(conspiracy-pictures/moonlanding.png);
    }
}


.moonlanding:hover {
    background-image: url(moonlanding-2.png);
}

.holocaust {
    width: 600px;
    height: 398px;
    background-image: url(holocaust.png);
    transition: 1.5s;
    margin-left: 50px;
}

@media (max-width: 767px) {
    .holocaust {
        margin-left: 5px;
        margin-top: 40px;
        margin-bottom: 60px;
        width: 350px;
        height: 232px;
        background-image: url(conspiracy-pictures/holocaust.png);
    }
}


.holocaust:hover {
    background-image: url(holocaust-2.png);
}

/* Footer */

.footer {
    margin-top: 70px;
    background-color: black;
    color: white;
    font-size: 20px;
}

/* Holocaust */

.auswitch {
    display: block;
    float: right;
}

.auswitch img {
    width: 350px;
    margin-left: 125px;
    margin-right: auto;
    margin-top: 20px;
    float: left;
}

@media (max-width: 767px) {
    .auswitch img {
        float: none;
        margin-right: -20px;
    }
}


.holocaust-text {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

@media (max-width: 767px) {
    #title-h {
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    #line {
        visibility: hidden;
    }
}

@media (max-width: 767px) {
    #mobile-text {
        margin-left: 120px;
        margin-top: -15px;
    }
}