/* P */

p {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 20px;
}

#bigger {
    font-size: 25px;
    margin-bottom: 100px;
}

/* Body */

body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Verdana, arial;
}

#main-title {
    font-size: 60px;
    margin-top: 20px;
}

#title {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 80px;
}

#background {
    margin-top: 50px;
    width: 1000px;
}

/* Button */

#back-button {
    font-size: 25px;
    background-color: darkgreen;
    border-radius: 16px;
    margin-top: 100px;
    border: none;
    color: white;
    padding: 10px 18px;
    display: inline-block;
    text-decoration: none;
    transition: 0.8s;
}

#back-button:hover {
    background-color: yellow;
    color: black;
    border-radius: 20px;
}

/* Conspiracy */

.conspiracy {
    margin-top: 125px;
    display: flex;
}

.twintowers {
    width: 600px;
    height: 398px;
    background-image: url(twintowers.png);
    transition: 1.5s;
    margin-left: 25px;
}

.twintowers:hover {
    background-image: url(twintowers-2.png);
}

.pope {
    width: 600px;
    height: 398px;
    background-image: url(pope.png);
    transition: 1.5s;
    margin-left: 50px;
}

.pope:hover {
    background-image: url(pope-2.png);
}

.moonlanding {
    width: 600px;
    height: 398px;
    background-image: url(moonlanding.png);
    transition: 1.5s;
    margin-left: 25px;
}

.moonlanding:hover {
    background-image: url(moonlanding-2.png);
}

.holocaust {
    width: 600px;
    height: 398px;
    background-image: url(holocaust.png);
    transition: 1.5s;
    margin-left: 50px;
}

.holocaust:hover {
    background-image: url(holocaust-2.png);
}

/* Footer */

.footer {
    padding-top: 30px;
    background-color: black;
    color: white;
    font-size: 20px;
}

/* Holocaust */

img {
    width: 350px;
    display: block;
    margin-left: 125px;
    margin-right: auto;
}

#holocaust-text {
    text-align: center;
}